.book-card {
  width: 24rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: $mr-medium;
  margin-top: $mr-small;
  color: $pr-white;
  font-weight: bold;
  border-radius: $base-radius;

  &__header {
    min-width: 24rem;
    min-height: 24rem;
    border-radius: $base-radius $base-radius 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity(1.2);
    background-color: $pr-white;
    background-image: url("../dist/images/noimage.svg");
    content: "no image!";
    color: #000;
  }

  &__button {
    background-color: $se-black;
    color: $pr-white;
    border: none;
    background-image: url("../dist/images/edit.svg");
    position: relative;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    padding: $pd-medium;
    background-size: 2rem;
    border-radius: 50%;
    background-position: center;
    z-index: 10;
    top: -20rem;
    right: -9rem;
    filter: opacity(0.9);
    -webkit-appearance: none;
    z-index: 20;

    &:focus {
      outline: none;
    }
  }

  &__body {
    display: flex;
    font-weight: 400;
    padding: $pd-small;
    text-align: start;
    flex-direction: column;
    font-family: $ff-body;
    font-size: $fs-medium;
    border-radius: 0 0 $base-radius $base-radius;
  }

  &__authors {
    margin-top: $pd-xs-small;
    font-size: 1.2rem;
  }

  &__popup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__popup-open {
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: $fs-xs-small;
    height: $fs-xs-small;
    padding: 1rem;
    background-color: $pr-black;
    font-weight: bold;
    opacity: 0.95;
    cursor: pointer;
  }

  &__popup-container {
    color: $pr-black;
  }

  &__popup-close {
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: $fs-xs-small;
    height: $fs-xs-small;
    padding: 1rem;
    background-color: $pr-black;
    font-weight: bold;
    opacity: 0.95;
    cursor: pointer;
  }
}

.popup-book {
  width: auto !important;
  z-index: 20 !important;
  padding: $pd-medium !important;
  font-size: $fs-medium !important;
}
