.book-card {
  width: 20rem;
  background-color: $pr-blue;
  display: flex;
  flex-direction: column;
  margin: $mr-medium;
  font-size: $fs-medium;
  color: $pr-white;
  font-weight: bold;
  border-radius: $base-radius;

  &__header {
    min-width: 20rem;
    min-height: 30rem;
    border-radius: $base-radius $base-radius 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: contrast(1.2);
  }
}