body {
  background-image: linear-gradient(to bottom, $pr-black, $se-black);
  width: 100%;
  min-width: 480px;
  height: 100vh;
  background-repeat: no-repeat;
  color: $pr-white;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: $ff-body;
}
