// constants
$base-radius: .4rem;

// colors
$pr-black: #1D1D1D;
$se-black: #131418;
$pr-white: #fff;
$se-white: #d4d4d4;
$pr-purple: #542583;
$pr-red: #c0392b;
$pr-blue: #3498db;
$se-blue: #273c75;
$pr-green: #16a085;
$se-green: #005744;

// distances
$pd-xs-small: .4rem;
$pd-small: .8rem;
$pd-medium: 1.6rem;
$pd-large: 2.4rem;
$pd-xl-large: 4.8rem;

$mr-xs-small: .4rem;
$mr-small: .8rem;
$mr-medium: 1.6rem;
$mr-large: 2.4rem;
$mr-xl-large: 4.8rem;

// fonts
$ff-title: "Sacramento", cursive;
$ff-body: "Montserrat";
$fs-xs-small: .4rem;
$fs-small: .8rem;
$fs-medium: 1.6rem;
$fs-large: 2.4rem;
$fs-xl-large: 4.8rem;

// base font-size
html {
  font-size: 62.5%;
}


// mixins

// Convert PX to EM global function
// @function px-to-em($px) {
//   $basepx: 16;
//   @return ($px/$basepx) + 0em;
// }