.wanna-read {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  &__header {
    display: flex;
    font-size: 3.6rem;
    font-family: $ff-title;
    padding: 1.6rem;
    padding-bottom: 0rem;
    &:after {
      background-color: $se-green;
      position: absolute;
      margin: 2.2rem 0 0 16rem;
      width: 4.6rem;
      height: 2.4rem;
      content: '';
      z-index: -1;
     }
  }
}