.search {
  display: flex;
  flex-direction: column;

  &__header {
    font-size: $fs-xl-large;
    padding: 0 $pd-medium;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__bar {
    width: 50%;
    padding: $pd-small;
    height: $fs-large;
  }

  // &__allowed-terms {
  //   font-size: $fs-large;
  //   padding: $pd-medium;
  // }

  &__popup-open {
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: $fs-xs-small;
    height: $fs-xs-small;
    padding: 1rem;
    background-color: $pr-white;
    color: $pr-black;
    font-weight: bold;
    opacity: 0.95;
    cursor: pointer;
    margin-left: $mr-medium;
    font-size: $fs-medium;
  }

  &__books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.popup-search {
  left: 5% !important;
  width: auto !important;
  z-index: 20 !important;
  width: 90% !important;
  display: flex;
  padding: $pd-medium !important;
  font-size: $fs-medium !important;
  color: $pr-black;
}