.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: $pd-large;
}

.book-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
}
